/* ******** Custom Properties ******** */
@import url(./styles.css);
:root {
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-alpha-color: rgba(0, 0, 0, 0.5);
}

/* ******** Components ******** */

/* ******** Utilities ******** */

/* ******** Site Style ******** */

.hero-image {
  background-image: var(--hero-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: var(--hero-attachment);
}

.hero-image-opacity {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--hero-opacity-color);
}

.hero-image-title {
  font-size: 7.5vw;
  color: var(--hero-text-color);
}

.contenedor {
  background-color: var(--black-alpha-color);
  height: 750px;
  margin: 1rem auto 1.5rem 0;
  background-image: url(../img-proyecto/equipo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.articulo {
  background: rgba(255, 255, 255, 0.5);
  width: 290px;
}
.ul-info {
  list-style: none;
}

.avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 1rem auto;
}

.ul-info {
  list-style: none;
  padding: 1.5rem !important;
}

/* ======== small ======== */
@media (min-width: 420px) {
  .contenedor {
    height: 650px;
  }
  .articulo {
    width: 380px;
  }

  /*   .avatar {
    margin: auto auto !important;
    text-align: center !important;
  } */
}
/* ======== tablet ======== */
@media (min-width: 736px) {
  .contenedor {
    height: 690px;
  }
  .articulo {
    border-radius: 10px;
  }
}

/* margin 0 5rem */
/* ======== desktop ======== */
@media (min-width: 1024px) {
  .contenedor {
    max-width: 1200px;
  }
  .contenedor {
    background-color: var(--black-alpha-color);
    height: 650px;
  }

  .articulo {
    background: rgba(255, 255, 255, 0.5);
    width: 500px;
  }
  .ul-info {
    list-style: none;
  }

  .avatar {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 1rem auto;
  }
}

/* margin 0 6rem */
/* ======== desktop 1280px ======== */
@media (min-width: 1280px) {
  .contenedor {
    max-width: 1400px;
    background-color: var(--black-alpha-color);
    height: 650px;
    background-image: url(../img-proyecto/equipo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 0 !important; */
  }

  .articulo {
    background: rgba(255, 255, 255, 0.5);
    width: 500px;
  }
  .ul-info {
    list-style: none;
    padding: 2rem !important;
  }

  .avatar {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 1rem auto;
  }
}
