/* ******** Custom Properties ******** */
@import url(./styles.css);
/* ******** Components ******** */

/* ******** Utilities ******** */

/* ******** Site Style ******** */

/* home */
.none {
  display: none;
}

.contact-form {
  margin: 1rem auto 2rem auto;
}

/* ======== small ======== */
@media (min-width: 420px) {
  .encabezado h1 {
    font-size: 1.3rem;
  }
  .encabezado {
    width: 380px !important;
    margin: 0 auto;
  }

  .encabezado small {
    font-size: 0.8rem;
  }

  .contact-form {
    max-width: 380px;
    margin-bottom: 3rem;
  }
}
/* ======== tablet ======== */
@media (min-width: 736px) {
  .contact-form {
    margin: 2rem auto;
  }

  .encabezado h1 {
    font-size: 1.7rem;
  }
  .encabezado {
    width: 580px !important;
    margin: 0 auto;
  }

  .encabezado small {
    font-size: 1rem;
  }

  .contact-form {
    max-width: 580px;
    margin-bottom: 3rem;
  }
}
/* margin 0 5rem */
/* ======== desktop ======== */
@media (min-width: 1024px) {
  .encabezado h1 {
    font-size: 1.7rem;
  }
  .encabezado {
    width: 780px !important;
    margin: 0 auto;
  }

  .encabezado small {
    font-size: 0.97rem;
  }

  .contact-form {
    max-width: 780px;
    margin-bottom: 3rem;
  }
}
/* margin 0 6rem */
/* ======== desktop 1280px ======== */
@media (min-width: 1280px) {
  .encabezado h1 {
    font-size: 2rem;
  }
  .encabezado {
    width: 880px !important;
    margin: 0 auto;
  }

  .encabezado small {
    font-size: 1.1rem;
  }

  body > section > div > div:nth-child(2) > form > input:nth-child(1),
  body > section > div > div:nth-child(2) > form > input:nth-child(2),
  .contact-form textarea {
    font-size: 0.8rem;
  }

  .contenido {
    margin: auto auto auto 2.5rem;
  }

  .contact-form {
    max-width: 880px;
  }
}
