/* ******** Custom Properties ******** */
@import url(./styles.css);
/* ******** Components ******** */

/* ******** Utilities ******** */

/* ******** Site Style ******** */

/* home */
#inicio {
  margin: 0 1rem;
}

h1 {
  text-align: center;
  font-size: 1.5rem !important;
  margin-bottom: 1rem !important;
}

.contenedor-productos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-chocolate {
  width: 17.938rem;
  height: 16rem;
  border: 9px solid #c4d4c4;
  border-radius: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 1rem;
}

.img-producto {
  width: 8.75rem;
  height: 9rem;
  border: 4px solid #c4d4c4;
  border-radius: 30px;
  margin-bottom: 0.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.oculto {
  display: none;
}

.img-izq {
  margin-right: 0.2rem;
}

.last {
  margin-bottom: 1.5rem;
}

/* ======== small ======== */
@media (min-width: 420px) {
  .img-chocolate {
    width: 24rem;
    height: 18rem;
    border: 9px solid #c4d4c4;
    border-radius: 50px;
  }

  .img-producto {
    width: 11.75rem;
    height: 12rem;
    border: 4px solid #c4d4c4;
    border-radius: 50px;
    margin-bottom: 1rem;
  }

  .img-izq {
    margin-right: 0.5rem;
  }
}

/* ======== tablet ======== */
@media (min-width: 736px) {
  #inicio {
    margin: 0 4rem;
  }

  h1 {
    text-align: center;
    font-size: 2rem !important;
    margin-bottom: 1rem !important;
  }
  .img-chocolate {
    width: 38rem;
    height: 24rem;
    border: 9px solid #c4d4c4;
    border-radius: 70px;
  }

  .img-producto {
    width: 18.125rem;
    height: 18rem;
    border: 7px solid #c4d4c4;
    border-radius: 40px;
    margin-bottom: 1.5rem;
  }

  .img-izq {
    margin-right: 1rem;
  }
}

/* margin 0 5rem */
/* ======== desktop ======== */
@media (min-width: 1024px) {
  #inicio {
    margin: 0 4rem;
  }

  h1 {
    text-align: center;
    font-size: 2rem !important;
    margin-bottom: 1rem !important;
  }
  .img-chocolate {
    width: 20.125rem;
    height: 20rem;
    border: 8px solid #c4d4c4;
    border-radius: 20px;
  }

  .img-producto {
    width: 20.125rem;
    height: 20rem;
    border: 8px solid #c4d4c4;
    border-radius: 20px;
    margin-bottom: 1.5rem;
  }

  .oculto {
    display: inline;
  }

  .activo {
    display: none;
  }
  .img-izq {
    margin-right: 1rem;
  }

  .img-derecha {
    margin-left: 1rem;
  }
}

/* margin 0 6rem */
/* ======== desktop 1280px ======== */
@media (min-width: 1280px) {
  #inicio {
    margin: 0 8rem;
  }

  h1 {
    text-align: center;
    font-size: 2.625rem !important;
    margin-bottom: 2rem !important;
  }
  /*   .img-chocolate {
    width: 29.125rem;
    height: 29rem;
    border: 15px solid #c4d4c4;
    border-radius: 111px;
  } */

  /*   .img-producto {
    width: 29.125rem;
    height: 29rem;
    border: 4px solid #c4d4c4;
    border: 15px solid #c4d4c4;
    border-radius: 111px;
    margin-bottom: 2.5rem;
  } */

  .img-chocolate {
    width: 28.125rem;
    height: 26rem;
    border: 10px solid #c4d4c4;
    border-radius: 30px;
    margin-bottom: 2.5rem;
  }

  .img-producto {
    width: 28.125rem;
    height: 26rem;
    border: 10px solid #c4d4c4;
    border-radius: 30px;
    margin-bottom: 2.5rem;
  }

  .oculto {
    display: inline;
  }

  .activo {
    display: none;
  }

  .img-izq {
    margin-right: 3rem;
  }

  .img-derecha {
    margin-left: 3rem;
  }
}
